Maquete Project/.vs/
Maquete Project/Build/
Maquete Project/Library/
Maquete Project/Logs/
Maquete Project/obj/
Maquete Project/UserSettings/
Maquete Project/Temp/
Maquete Project/Assembly-CSharp.csproj
Maquete Project/Assembly-CSharp-Editor-firstpass.csproj
